@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Inter:wght@400;500;700&family=Jomhuria&family=Open+Sans:ital,wght@0,300;0,500;1,700&family=Oswald:wght@300;500;700&family=Roboto:wght@300;400;500;900&family=Rubik:wght@300;400;600;800&display=swap");
html {
  text-transform: capitalize;
}

body {
  background-color: rgba(173, 216, 230, 0.3);
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 !important;
  padding-left: 0 !important;
}

.navbar {
  position: sticky;
  top: 0;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  z-index: 999;
}
.navbar .navbar-brand:hover {
  color: rgb(50, 192, 240);
}
.navbar .nav-link {
  font-size: 14px;
  font-weight: bold;
}
.navbar .nav-link:hover {
  color: rgb(50, 192, 240);
}

.form-inline {
  margin: 0 10px 0 auto;
}
.form-inline .btn {
  color: rgb(50, 192, 240);
  border-color: rgb(50, 192, 240);
}
.form-inline .btn:not(:last-child) {
  margin-right: 8px;
}
.form-inline .btn:hover {
  background-color: rgb(23, 173, 223);
  color: white;
}
.form-inline .logout {
  color: #ff0000;
  border-color: #ff0000;
}
.form-inline .logout:hover {
  color: white;
  border-color: white;
  background-color: #ff0000;
}

.user-name {
  margin: 0;
}

.text-small {
  font-weight: 600;
  color: #a6a8a9 !important;
  font-size: 14px;
  padding: 7px 0 !important;
  display: inline-block;
}

/* App log up and login styles */
.log-in,
.register {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.log-in .title,
.register .title {
  font-size: 40px;
  font-weight: bold;
  color: #555555;
  margin: 80px 0 20px;
}
.log-in label,
.register label {
  font-size: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 8px;
}
.log-in .active,
.register .active {
  width: 500px;
  padding: 15px;
  border-radius: 9px;
  background-color: lightblue;
  border: none;
  font-size: 20px;
  color: #555555;
  font-weight: bold;
  text-transform: capitalize;
}
.log-in .active:hover,
.register .active:hover {
  background-color: rgb(135, 213, 239);
}
.log-in input,
.register input {
  width: 500px;
  padding: 15px;
  border-radius: 9px;
  border: 1px solid lightblue;
  margin-bottom: 20px;
}
.log-in .extra,
.register .extra {
  width: 100px;
  padding: 10px;
  border-radius: 9px;
  text-decoration: underline;
  border: none;
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.log-in .extra:hover,
.register .extra:hover {
  background-color: rgba(173, 216, 230, 0.349);
}
.log-in .home,
.register .home {
  position: absolute;
  text-decoration: none;
  font-size: 25px;
  right: 0;
  padding: 2px;
}

.tags button {
  border: none;
  background-color: grey;
  padding: 4px 10px;
  border-radius: 20px;
}
.tags button:hover {
  background-color: rgba(128, 128, 128, 0.6);
}

.add-post-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 50px;
  color: white;
  position: fixed;
  right: 5%;
  bottom: 5%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(50, 192, 240);
  border: none;
  -webkit-box-shadow: 0 9px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0 9px 9px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.add-post-button:hover {
  background-color: rgb(135, 213, 239);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.modal-mask {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-mask .modal-container {
  width: 50vw;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 80vw;
  max-width: 500px;
  border-radius: 9px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-mask label {
  font-size: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 8px;
}
.modal-mask input,
.modal-mask textarea {
  width: 100%;
  padding: 10px;
  border-radius: 9px;
  border: 1px solid lightblue;
  margin-bottom: 20px;
}
.modal-mask textarea {
  resize: none;
}
.modal-mask .close-modal {
  color: #ff0000;
  border-color: #ff0000;
  padding: 5px 10px;
  font-size: 10px;
}
.modal-mask .close-modal:hover {
  font-weight: bold;
  color: white;
}
.modal-mask .create-post {
  background-color: lightblue;
  font-size: 18px;
  padding: 10px;
  border-radius: 9px;
  border: none;
  color: #555555;
  text-transform: capitalize;
}
.modal-mask .create-post:hover {
  background-color: rgb(135, 213, 239);
  font-weight: bold;
}

.commetns-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.commetns-container ul li {
  background-color: silver;
  padding: 5px;
  margin: 10px;
  border-radius: 9px;
}

.comment-container {
  overflow-y: auto;
  max-height: 60vh;
}
.comment-container .comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-container .comment-list li {
  background-color: rgba(192, 192, 192, 0.207);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
.comment-container .comment-list li div {
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.comment-container .comment-list li div p {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.comment-container .comment-list li p {
  padding: 4px 8px;
  margin: 0;
}